body{margin:0;font-family:Arial;background:#1b1036;color:white}
#loginScreen{height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center}
.hidden{display:none}
input,button{padding:10px;margin:8px;border-radius:8px}
.desktop{height:100vh;padding:30px;background:linear-gradient(135deg,#4b0082,#1b1036)}
.icons button{margin:10px;font-size:18px}
